<!doctype html>

<html ng-app="loginPage">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
        <title>IFS Login</title>
        
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
        <style>
            html                    { overflow-y:scroll; }
            body                    { padding-top:50px; }
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
        <script src="./js/core.js"></script>
    </head>
    
    <body ng-controller="mainController">
        <div class="container">
            <div class="jumbotron text-center">
                <h2>IFS Login</h2>
            </div>
        </div>
        <div class="container">
            <div class="form">
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" class="form-control" ng-model="username"></input>
                </div>
                <div class="form-group">
                    <label for="usernameInput">password</label>
                    <input type="text" class="form-control" ng-model="password"></input>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="submitLogin()">Login</button>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="submitLoginMobile()">Login Mobile</button>
                </div>
            </div>
            <label for="message">{{message}}</label>
        </div>
    </body>
</html>